<div class="main-content">
  <div class="row banner">
    <div class="col-12">
      <img src="/assets/images/banner0.jpg" />
    </div>
  </div>
  <div class="row featured-content">
    <div class="col-md-6">
      <img src="/assets/images/bkg1.jpg" />
    </div>
    <div class="col-md-6">
      <img src="/assets/images/bkg5.jpg" />
    </div>
  </div>
  <div class="row" style="width: 90%; margin: auto; position: relative; top: -25px;">
    <div class="col-md-3">
      <p class="category">HTML5</p>
      <div class="courses">
        <p>What's HTML5</p>
        <p>HTML5 tags</p>
        <p>Examples</p>
      </div>
      <p class="category">CSS3</p>
      <div class="courses">
        <p>What's CSS3</p>
        <p>CSS3 tags</p>
        <p>Examples</p>
      </div>
      <p class="category">JavaScript</p>
      <div class="courses">
        <p>What's JavaScript</p>
        <p>JavaScript Code</p>
        <p>Examples</p>
      </div>
      <p class="category">Angular</p>
      <div class="courses">
        <p>What's Angular</p>
        <p>components</p>
        <p>modules</p>
        <p>services</p>
        <p>Examples</p>
      </div>
    </div>
    <div class="col-md-6">

    </div>
    <div class="col-md-3">
      <p class="category">Recent posts</p>
      <p class="category">Most viewed posts</p>
      <p class="category">Top rated posts</p>
    </div>
  </div>
</div>
